
 
 
.fondo-portada{
    background-image: url(../imagenes/ICC_instituto_de_capacitacion_continua_cursos_de_ingenieria.jpg);
    background-size: cover;
    height: 50vmax;
    
   

}

.letras-fondo{
   
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap ;
    justify-content: flex-start;
 
}



.flex-center{
   
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap ;
    justify-content: center;
 
}



.flex-center1{
   
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap ;
    justify-content: center;
     background-image: url(../imagenes/portadavirtual.png);
    background-size: cover;
    
 
}



.flex-evenly{
   
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap ;
    justify-content: space-evenly;
 
}

.shado{
    -webkit-box-shadow: 5px 5px 8px 3px #000000; 
box-shadow: 5px 5px 8px 3px #000000;
}

.shado:hover{
  -webkit-box-shadow: 8px 7px 22px 3px rgba(33,47,66,0.79); 
box-shadow: 8px 7px 22px 3px rgba(33,47,66,0.79);
}


.div-footer{
    width: 400px !important;
}
.portada_nosotros{
background-image: url(../imagenes/nosotros.jpg);
    background-size: cover;
    height: 50vmax;
    
}


.fondo-ingenieria{
background-image: url(../imagenes/ingenieria.png);
    background-size: cover;
    
    
}

.fondo-derecho{
background-image: url(../imagenes/derecho.jpg);
    background-size: cover;

}

.fondo-contactanos{
background-image: url(../imagenes/fondo.png);
    background-size: cover;
    
}
