body{
  background-color: #0d1a2e;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3p3nef');
  src:  url('fonts/icomoon.eot?3p3nef#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3p3nef') format('truetype'),
    url('fonts/icomoon.woff?3p3nef') format('woff'),
    url('fonts/icomoon.svg?3p3nef#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
  @font-family: "Nunito";
    src: url("font/Nunito-SemiBold.ttf");
}

/* Seccion Cabecera*/
.logo{
width: 150px !important;
height: auto;
display:none;
}

.logo: hover{
  background-color: transparent;
}

.containerimagen{
    width:150px;
    height:100px;
    cursor:pointer;
    overflow:hidden;
}

.imgs img{
    width:100%;
    height:100px;
}
/*
    Aquí aplicamos la transición al selector 'imgs' de 0.3 segundos  y con un modificador de a todo 'all'
*/
.imgs{
    transition:0.3s all;  
}
/*
    Cuando el curso está sobre la imagen , la pseudo-clase 'hover' se activa y aplica una margen superior 
    de valor -100px. Lo cual muestra un efecto de cambio
*/
.containerimagen:hover .imgs{
    margin-top:-100px;
}

.menu_bar {
  display:none;
}

#iaula{
  display: none;
}

.btncontainer{
  position: relative;
  top: -80px;
  margin-left: 80%;
}

.button {
  background-color: #0f0346;
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.btncontainer #aula_boton a{
  text-decoration: none;
  color: white;
}

.btncontainer :hover {
  background-color: #0076b8;
  color: white;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}


header {
  width: 100%;
  position: fixed;
  font-weight: bold;
  z-index: 1000;
}

header nav {
  background: transparent;
  z-index:1000;
  width:80%;
  margin:-180px 0em 0 150px;
}

header nav ul li {
  display:inline-block;
  position: relative;
  margin-top: -20px;
}

header nav ul li:hover {
  background:#0076b8;
  opacity: 0.9;
}

header nav ul li a {
  color:#fff;
  display:block;
  text-decoration:none;
  padding: 33px;
}

header nav ul li a i {
  margin-right:10px;
}

header nav ul li:hover .children {
  display:block;
}

header nav ul li .children {
  display: none;
  background:#242d3d;
  position: absolute;
  width: 150%;
  z-index:1000 !important;
}

header nav ul li .children li {
  display:block;
  overflow: hidden;
  border-bottom: 1px solid rgba(255,255,255,.5);
}

header nav ul li .children li a {
  display: block;
}

header nav ul li .children li a i {
  float: right;
  position: relative;
  top:3px;
  margin-right:0;
  margin-left:10px;
}

header nav ul li .caret {
  position: relative;
  top:3px;
  margin-left:10px;
  margin-right:0px;
}


@media screen and (max-width: 1177px) {
 
  body {
    padding-top:88px;
  }
 
  .button {
   display: none;
  }

  #aula_boton{
  display: none;
  }

 .menu_bar {
    display:block;
    width:15%;
    float:left;
    top:0;
    background:#0d1a2e;
    position: relative;
    top: -88px;
  }

  .menu_bar .bt-menu {
    display: block;
    padding: 35px;
    color: #fff;
    overflow: hidden;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
  }

  .menu_bar i{
    float: right;
    font-size: 30px;
  }

.containerimagen{
float:left;
background:#0d1a2e;
width: 50%;
position: relative;
top: -88px;
}

.imgs img{
    width:50%;
    height:100px;
    position: relative;
    left: 40%;
}

.imgs{
    transition:0.3s all;  
}

.containerimagen:hover .imgs{
    margin-top:-100px;
}

.cajon3{
float:left;
background:#0d1a2e;
width: 35%;
padding-top: 36px;
position: relative;
top: -88px;
}

 
 #iaula{
  display: block;
  font-size:12px;
  color:white;
  border: none;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
  background: #0076b8;
  opacity: 0.9;
  border-color: transparent;
  position: relative;
  top: -25px;
  left: 5%;
 }


  header nav {
    width: 80%;
    height: calc(100% - 80px);
    background: #242d3d;
    position: fixed;
    right:100%;
    margin: 0;
    margin-top: 15px;
    overflow: scroll; 
  }

  header nav ul li {
    display: block;
    border-bottom:1px solid rgba(255,255,255,.5);
  }

  header nav ul li a {
    display: block;
  }

  header nav ul li:hover .children {
    display: none;
  }

  header nav ul li .children {
    width: 100%;
    position: relative;
  }



  header nav ul li .children li a {
    margin-left:20px;
  }

  header nav ul li .caret {
    float: right;
  }
}

/*Fin Seccion Cabecera*/


/*Seccion Portada*/

.portada{
  max-width: 100%;
  height: auto;
}



.inicioPortada{
  z-index: 0 !important;
  margin-bottom: -10%;
}

.contenedorInicio{
    padding-left: 10%;
    position: relative;
    top: -600px;
}

.contenedorInicio h1{
  color: white !important;
  font-size: 60px;

}

.contenedorInicio p{
  font-size: 28px;
  color: white;
  font-weight: bold;
}



@media screen and (max-width: 1177px) {

.inicioPortada{
  margin-bottom: -20%;
}

.contenedorInicio{
  padding-left: 10%;
  position: relative;
  top: -150px;
}

.contenedorInicio h1{
  color: white !important;
  font-size: 24px;
  display: flex !important;
  justify-content:center;
}

.contenedorInicio p{
  font-size: 18px;
  color: white;
  font-weight: bold;
  display: flex !important;
  justify-content:center;

}

.contenedorInicio button{
  display: flex !important;
  justify-content:center;
  margin-left: auto;
  margin-right: auto;
}





}

/*Fin Seccion Portada*/


.tituloIcono h1{
  display: flex !important;
  justify-content:center;
  column-gap: 10px;
  flex-flow: row wrap; 
  font-size: 40px;
  color: white;
}

h2{
  font-size: 32px;
}



/*Seccion Icono*/


.seccion_icono{
  display: flex !important;
  justify-content:center;
  column-gap: 10px;
  flex-flow: row wrap;
}



@media screen and (max-width: 1177px) {

.seccion_icono{
 background-color: #0d1a2e;
}

.tituloIcono h1{
  display: flex !important;
  justify-content:center;
  column-gap: 10px;
  flex-flow: row wrap; 
  font-size: 18px;
  color: white;
}

h2{
  font-size: 16px !important;
}

.seccion_imagen{
  display: flex !important;
  flex-flow: row wrap; 
  justify-content:center;
}

.seccion_icono img{
  width: 10%;

}


}

/*Fin Seccion Icono*/



@media screen and (max-width: 1177px) {

  .Transicion {
    margin-top: -20%;
  }


.Transicion p {
 font-size: 18px;
 color: white;
margin-left: auto;
margin-right: auto;
width: 100% !important;
}

#Transiciontitulo{
  margin-top: 0px !important;
}

.Transicion #TransicionCuerpo {
 font-size: 18px;
 margin-top: 0px !important;
}

.Transicion .innerTransicion {
  z-index:-1 !important;
}


.transicionPie{
  display: flex !important;
  flex-flow: row wrap; 
  justify-content:center;

}

.transicionBoton{
  background-color: #3284ef;
  border: none;
  color: white;
  padding: 13px 50px !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px !important;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.Transicion #TransicionCuerpo {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 0px !important;
}

.transicionImg{
  z-index: -3;
  position: relative;
  top: 150px !important;
  width: 100% !important;
  height: 100% !important;
  
}


}



.Transicion {
  font: normal 40px/50px Montserrat, sans-serif;
  color: white;
  display: flex !important;
  column-gap: 10px;
  flex-flow: row wrap; 
  justify-content:center;
  margin-top: -10%;
}


.transicionImg{
  z-index: -3;
  position: relative;
  top: 250px;
  width: 100%;
  height: 450px;
  
}



.Transicion p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
  z-index:-1 !important;
}

.Transicion #TransicionCuerpo {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 40px;
}


.Transicion .innerTransicion {
  display: inline-block;
  color: #6f75ff;
  position: relative;
  white-space: nowrap;
  z-index:-1 !important;
  top: 0;
  left: 0;

/*animation*/
-webkit-animation:move 7s;
   -moz-animation:move 7s;
    -ms-animation:move 7s;
     -o-animation:move 7s;
        animation:move 7s;

/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;

/*animation-delay*/
-webkit-animation-delay:1s;
   -moz-animation-delay:1s;
    -ms-animation-delay:1s;
     -o-animation-delay:1s;
        animation-delay:1s;
}

@keyframes move{
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
60% { top: -150px; }
80% { top: -200px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}

.transicionPie{
  display: flex ;
  flex-flow: row wrap; 
  justify-content:center;
}

.transicionBoton{
  background-color: #3284ef;
  border: none;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.transicionBoton a{
  color: white;
  text-decoration: none;
}

.transicionBoton:hover {
  background-color: #1c70e0;
}


/*Seccion Opiniones*/

 .containerOpinion h2{
  display: flex ;
  flex-flow: row wrap; 
  justify-content:center;
 }

 .containerOpinion p{
  font-size: 18px;
  color: white;
  display: flex ;
  flex-flow: row wrap; 
  justify-content:center;
 }

 .opinionLista{
  display: flex;
  flex-flow: row wrap; 
  justify-content:center;
  column-gap: 10px;
 }


 .opinionFila{
    background-color: #243345;
    text-decoration:none;
    list-style:none;
    z-index:-1 !important;
    border-radius: 10px;
    
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;

 }

 .usuarioNombre{
  color: white;
  font-weight: bold;
 }

 .opinionFila a{
    color: #6f75ff;
    font-weight: bold;
    text-decoration:none;
    list-style:none;
    font-size: 18px;
 }

 .opinionUser{
  display: flex ;
  align-items: stretch;
  flex-flow: row wrap; 
  font-size: 16px;
 }

 .tituloUsuario{
  padding-left: 0.5em;
  padding-top: 0.5em;
 }

 .imagenUser{
  width: 60px;
  height: auto;
  border-radius: 50%;
  padding-top: 0.5em;
 }

 .comentario p{
  margin-top: 1em; 
  width: 30vh;
  text-align: justify;
  font-size: 14px;
  color: white;
 }

 .masUsuario a{
  font-size: 14px;
  color: #3284ef;
 }


.paginaOpinion {
  padding: 20px;
  display: flex !important;
  flex-flow: row wrap !important;
  justify-content:center !important;
}

.paginaOpinion,
.paginaOpinion * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.paginaOpinion a {
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.paginaOpinion a.disabled {
  opacity: 0.3;
  pointer-events: none;
  cursor: not-allowed;
}
.paginaOpinion a.current {
  background: #243345;
}


 @media screen and (max-width: 1177px) {
 
 .containerOpinion{
  display: flex !important;
  flex-flow: row wrap !important;
  justify-content:center !important;
 }

 .opinionLista{
  row-gap: 16px;
 }

 .opinionFila{
  position: relative;
  left: -5%;
  z-index:-1 !important;
 }

 .opinionUser{
  font-size: 14px !important;
 }

 
.containerOpinion h2{
  font-size: 18px !important;
  font-weight: bold;
 }

 .opinionFila a{
  font-weight: bold;
  font-size: 16px;
 }

 .containerOpinion p{
  font-size: 14px;
 }

 .comentario p{
  width: 40vh;
 }


 }

/* Fin Seccion Opiniones*/

/* Seccion ModalOpinion*/

   .modalContainer {
      display: none; 
      position: fixed; 
      z-index: 1;
      padding-top: 30%;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; 
      overflow: auto; 
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.4);
    }

    .modalContainer .modal-content {
      background-color: #243345;
      margin: auto;
      padding: 20px;
      width: 30%;
      color: white;
    }

    .modalContainer .close {
      color: white;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .modalContainer .close:hover,
    .modalContainer .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }


 .comentModal p{
  margin-top: 1em; 
  width: 60vh;
  text-align: justify;
  font-size: 14px;
  color: white;
 }

 .modalTitulo {
  font-weight: bold;
  font-size: 16px;
  color: #6f75ff;
 }

 @media screen and (max-width: 1177px) {

    .modalContainer {
      padding-top: 70%;
    }
    
  .modalContainer .modal-content {
      width: 70%;
    }

  .comentModal p{
  margin-top: 1em; 
  width: 35vh;
  text-align: justify;
  font-size: 14px;
  color: white;
  }

 }


/* Fin Seccion ModalOpinion*/


/* Seccion Aprender*/

  .aprender h1{
  display: flex ;
  flex-flow: row wrap; 
  justify-content:center;
  color: white;
  font-size: 42px;
  }

  .aprender-container{
  display: flex;
  flex-flow: row wrap; 
  justify-content:center;
  }

  .aprender-lista{
    background-color: transparent;
    list-style:none;
    padding-left: 1em;
    padding-right: 1em;
  }

  .aprender-img{
    padding-top: 1em;
  }

  .aprender-contenido{
    color: white;
    width: 30vh;
    text-align: justify;
  }

  .aprender-contenido h4{
    font-size: 24px;
    margin-top: 0em;
  }
  .aprender-contenido p{
    font-size: 18px;
    padding-top: 0em;


  }


  @media screen and (max-width: 1177px) {

  .aprender h1{
  font-size: 22px;
  }

  .aprender-contenido{
    width: 40vh;
    text-align: justify;
  }

  .aprender-lista{
    margin-left: -10%;
  }

  .aprender-contenido h4{
    font-size: 16px;
  }

  .aprender-contenido p{
    font-size: 14px;
    padding-top: 0em;
  }


  }
/*Fin Seccion Aprender*/


/*Seccion LoNuevo*/

  .lonuevo h1{
  display: flex ;
  flex-flow: row wrap; 
  justify-content:center;
  color: white;
  font-size: 42px;
  }

  .botonplay{
     width: 50px;
     height: 50px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #1d202d;
     opacity: 0.8;
     position: relative;
     top: -140px;
     left: 130px;
     color: white;
     font-size: 20px;
  }

  .botonplay:hover{ 
    -webkit-transform: scale(1.5);
    transform: scale(1.5)
  }

  .lonuevo-img img{
  display: flex ;
  justify-content:center;
  border-radius: 10px 10px 0px 0px;
  width: 35vh;
  }


  .lonuevo p{
   display: flex ;
   flex-flow: row wrap; 
   justify-content:center;
   color: white;
   font-size: 28px;
  }

  .lonuevo-container{
  display: flex;
  flex-flow: row wrap; 
  justify-content:center;
  column-gap: 30px;
  }

  .lonuevo-lista{
    background-color: #243345;
    list-style:none;
    border-radius: 10px;
  }

  .lonuevo-contenido{
    padding-left: 1em;
    padding-right: 1em;
  }

  .lonuevospan{
    color: white;
    background-color: #3284ef;
    font-weight: bold;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .lonuevo h3{
   color: white;
   font-size: 18px;
   font-weight: bold;
   width: 30vh;
  }

  .lonuevoinfo{
    color: white;
    display: flex;
    flex-flow: row wrap;
    padding-left: 1em;
    column-gap: 10px;
    margin-bottom: 2em;
  }

  .lonuevoPie{
    display: flex;
    flex-flow: row wrap; 
    justify-content:center;
  }


   @media screen and (max-width: 1177px) {

    .lonuevo-container{
      display: flex;
      flex-flow: row wrap;
      row-gap: 20px;
      padding-left: 0%;
    }

    .lonuevo h1{
     font-size: 24px;
    }

    .lonuevo p{
     font-size: 16px;
     justify-content:center;
     }

      .lonuevo-img img{
      width: 35vh;
      height: 20vh;
      }

      .lonuevo h3{
      font-size: 16px;
      }

      .lonuevospan{
        font-size: 12px;
      }

    .botonplay{
     position: relative;
     top: -100px;
     left: 110px;
    }


   }
/*Seccion LoNuevo*/





/*Seccion modalvideo*/
.modalvideo {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: transparent;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}


.modalvideo.is-visible {
  visibility: visible;
  opacity: 1;
}

.modalvideo-dialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  border-radius: 5px;
  background: #2e3848;
  overflow: auto;
  cursor: default;
}

.modalvideo-dialog > * {
  padding: 1rem;
}

.close-modal{
  color: white;
  background-color: transparent;
}

.spantitulo{
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: #007aff;
  padding-left: 0.5em;
  padding-right: 0.5em;

}


.cursodescripcion{
  width: 60vh;
  text-align: justify;
}

.cursodescripcion p{
  font-size: 14px;
  color: white;
}

.botoncomprar {
  background-color: #6f75ff;
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 0px;
  transition-duration: 0.4s;
}


.modal-productotitulo a{
  color: white;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  flex-flow: row wrap;
}

.cursoautor, .cursoinfo{
  color: white;
  font-size: 16px;
}

.cursoautor span{
  color: white;
  font-size: 16px;
}

@media screen and (max-width: 1177px) {
  
  .modalvideo{
    display: flex;
    width: 90%;
    height: 80%;
    top: 20%;
  }

  .cursodescripcion{
  width: 37vh;
  text-align: justify;
  }

  .framevideo{
    width: auto;
    height: 200px;
  }

}

 .pack h1{
  display: flex ;
  flex-flow: row wrap; 
  justify-content:center;
  color: white;
  font-size: 42px;
  }

  .botonplay{
     width: 50px;
     height: 50px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #1d202d;
     opacity: 0.8;
     position: relative;
     top: -140px;
     left: 130px;
     color: white;
     font-size: 20px;
  }

  .botonplay:hover{ 
    -webkit-transform: scale(1.5);
    transform: scale(1.5)
  }

  .pack-img img{
  display: flex ;
  justify-content:center;
  border-radius: 10px 10px 0px 0px;
  width: 35vh;
  }





  .pack p{
   display: flex ;
   flex-flow: row wrap; 
   justify-content:center;
   color: white;
   font-size: 28px;
  }

  .pack-container{
  display: flex;
  flex-flow: row wrap; 
  justify-content:center;
  column-gap: 30px;
  }

  .pack-lista{
    background-color: #243345;
    list-style:none;
    border: 1px solid  #1C2833;
    border-radius: 5px 5px 5px 5px;
  
  }

  .pack-lista:hover{
  -webkit-box-shadow: 0px 3px 10px 3px rgba(73,103,133,0.7);
  -moz-box-shadow: 0px 3px 10px 3px rgba(73,103,133,0.7);
  box-shadow: 0px 3px 10px 3px rgba(73,103,133,0.7);
  transition: box-shadow 0.3s ease-in-out;
}

  .pack-contenido{
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
  }

  .packspan{
    color: white;
    background-color: #3284ef;
    font-weight: bold;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .pack h3{
   color: white;
   font-size: 18px;
   font-weight: bold;
   width: 30vh;
  }

  .packinfo{
    color: white;
    display: flex;
    flex-flow: row wrap;
    padding-left: 1em;
    column-gap: 10px;
    margin-bottom: 2em;
  }

  .packPie{
    display: flex;
    flex-flow: row wrap; 
    justify-content:center;
  }


   @media screen and (max-width: 1177px) {

    .pack-container{
      display: flex;
      flex-flow: row wrap;
      row-gap: 20px;
      padding-left: 0%;
    }

    .pack h1{
     font-size: 24px;
    }

    .pack p{
     font-size: 16px;
     justify-content:center;
     }

      .pack-img img{
      width: 35vh;
      height: 20vh;
      }

      .pack h3{
      font-size: 16px;
      }

      .packspan{
        font-size: 12px;
      }

    .botonplay{
     position: relative;
     top: -100px;
     left: 110px;
    }


   }

/*Fin modalVideo Seccion Pack*/


/*Pie de Pagina*/
.foot{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    background: rgb(0,2,23);
    color: white;
    padding-top: 10px;
    font-family: "Nunito";
}

.foot h2{
    color: lightcyan;
    font-size: 16px;
    text-align: center;

}
.foot p{
font-size: 0.7pc;
font-weight: 150;
justify-content: center;
}
.foot h5{
    font-size: 13px;
    text-align: center;
    justify-content: center;
}
.foot .divicion{
    width: 350px;
    height: auto;
}
.foot p{
    justify-content: center;
    font-family: "Nunito";
}
.content-divicion{
    margin-left: 10px;
    margin-right: 10px;
}
.foot .texto-enlaces{
font-size: 0.7pc;
font-weight: 150;
justify-content: center;
list-style: none;
margin-top: 5px;
font-family: "Nunito";

}

.link{ 
text-decoration: none;
color: white;
font-family: "Nunito";
}

.social{
    display: flex;
    flex-direction: column;
}
.enlances{
    list-style: none;
}
.lista-li{
    text-align: left;
    font-size: 13px;
    list-style: none !important;
    margin-left: -25px;
    margin-right: 10px;
    margin-top: -5px;
}
.lista-li li{
    margin-bottom: 11px;
}
.lista-info{ 
    font-family: "Nunito";
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 11px;
}
.box-icono{
   text-align: center;

}
.whatsapp {
    position:fixed;
    width:50px;
    height:50px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:50px;
    z-index:100;
    text-decoration: none;
  }

  #historieta{
  display: flex;
  text-align: center;
  align-items: center;
  position:fixed;
  justify-content: center;
  bottom:40px;
  right: 120px;
  width: 200px;
  height: 50px;
  background-color: white;
  border-radius: 25px;
}

#historieta:before{
  content: "";
  position: absolute;
  top: 25px;
  left: 180px;
  width: 0px;
  height: 0px;
  border-top: 20px solid white;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  transform: rotate(45deg);
}

#historieta span{
 color: black;
 font-weight: bold;
}
/*Fin Pie de Pagina*/

/*Pagina Nosotros*/
.seccion_somos{
  display: flex ;
  flex-flow: row wrap; 
  justify-content:center;
  color: white;
  font-size: 20px;
  column-gap: 1000px;
}

.textoSomos{
  width: 100vh;
  text-align: justify;
}

@media screen and (max-width: 1177px) {

  .seccion_somos h1{
    font-size: 24px;
  }

  .seccion_somos img{
   width: 150%;
  }

  .textoSomos {
    width: 40vh;
    text-align: justify;
    font-size: 14px;
  }

}
/*Fin Pagina Nosotros*/