body{
   background-image: url("../img/fondo.jpg");
 background-color: #cccccc;
 background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.medio{
  background: black;
  width: 350px;
  height: auto;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  text-align: center;
background-color: rgba(86, 101, 115, 0.5);
}
.tit{
  color: #D7D4D0;

}
.input{
background: #D7D4D0 !important;
background-color:transparent !important;
  color: white !important;
  border-bottom: 1px solid white;
  border-left: 0px !important ;
  border-right: 0px !important ;
  border-top: 0px !important ;

}

.input:hover{
 background: #D7D4D0 !important;
background-color:transparent !important;
  color: white !important;
    border-bottom: 1px solid white;
  border-left: 0px !important ;
  border-right: 0px !important ;
  border-top: 0px !important ;
}

.boton{
  background: #2471A3;
  color: white;
  height: 35px;
  border-bottom: 0px solid white;
  border-left: 0px !important ;
  border-right: 0px !important ;
  border-top: 0px !important ;
  border-radius: 10px;
  margin-bottom: 20px;
}

.logo{
  width: 200px;
  height: auto;
}