.container {
    display: grid;
    grid-template:
    "header" 80px
    "navbar" auto
    "section1" auto
    "section2" auto
    "section3" auto
    "section4" auto
    "section5" auto
    "section6" auto
    "footer" 100px;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}
.menu-logo {
    border: none;
}
.menu-button {
    border-left: 2px solid white;
    padding-left: 20px;
}
.section3-icons a {
    width: 90px; height: 90px;
    font-size: 4rem;
}